/* Fullscreen overlay for modal background */
#active-popup-special_overlay_down_right {
    background-color: rgba(52,73,94, 0.7);
    position: fixed;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* Modal container */
#active-popup-special_overlay_down_right .popup {
    display: none;
    position: relative;
    height: inherit;
}

#active-popup-special_overlay_down_right .modal-content {
    position: relative;
    text-align: center;
}

#active-popup-special_overlay_down_right .popup-window {
    position: absolute;
    bottom: 25%;
    right: 25%;
    transform: translate(50%, 0);
    border: 1px solid rgb(221, 221, 221);
    background-color:white;
}

#active-popup-special_overlay_down_right .modal-content h1,
#active-popup-special_overlay_down_right .modal-content p { color: #fff; }

#active-popup-special_overlay_down_right .modal-content p { padding: 20% 5% 0 5%; }

/* Close button */
#active-popup-special_overlay_down_right .popup a.close {
    background: #e74c3c none repeat scroll 0 0;
    border: 4px solid #fff;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    line-height: 1em;
    padding: 0 5px 4px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -15px;
    z-index: 999999999;
    opacity: 1;
}

#active-popup-special_overlay_down_right .popup-window.ready .popup-image-message {
    max-width: 100%;
    max-height: 100%;
}

#active-popup-special_overlay_down_right .notshow-container {
    background: #fff none repeat scroll 0 0;
    bottom: -33px;
    font-size: 12px;
    left: 0;
    padding: 5px;
    width: 100%;
    min-width: 200px;
}

#active-popup-special_overlay_down_right .popup-message.message {
    background: #fff none repeat scroll 0 0;
    padding: 15px;
    overflow-y: auto;
}

