.clear {
  clear: both;
}
/*
* Portfolio Style
*/
#whmcms .portfolio {}
#whmcms .row-fluid.portfolio li {
    margin-bottom:30px;
}
#whmcms .row-fluid.portfolio li.span2 {
    margin-left:8px;
    margin-right:8px;
}
#whmcms .row-fluid.portfolio li.span3 {
    margin-left:7px;
    margin-right:7px;
}
#whmcms .row-fluid.portfolio li.span4 {
    margin-left:6px;
    margin-right:6px;
}
#whmcms .row-fluid.portfolio li.span6 {
    margin-left:4px;
    margin-right:4px;
}


#whmcms .whmcms-portfolio li a.title {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: -1px;
    text-shadow: 0 0 2px #ccc;
    font-size:20px;
    font-weight:700;
    line-height:15px;
    color:#444;
    text-decoration:none;
}
#whmcms .whmcms-portfolio li .project-tags a {
    color:#6699FF;
}

/*
* Portfolio Project
*/
#whmcms #project-slider {}
#whmcms #project-slider {}
#whmcms #project-slider img {
    width:540px;
    height:405px;
}
#whmcms .carousel-control {
    top:50%;
}
#whmcms .project .project-heading {
    border-bottom:1px solid #E2E2E2;
    padding-bottom:10px;
    text-transform: uppercase;
}

/*
* Category DropDown Menu
*/
#changeCategory {
    margin-bottom:10px;
    position: relative;
}
#changeCategory .trigger {
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 15px 9px 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    background: #333;
    border: 1px solid #99A5BE;
    border-top-color: #A5B2CB;
    color: #FFF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    width: 200px;
    transition: all 240ms ease-out;
    -webkit-transition: all 240ms ease-out;
    -moz-transition: all 240ms ease-out;
    -ms-transition: all 240ms ease-out;
    -o-transition: all 240ms ease-out;
    outline: none;
}
#changeCategory .trigger:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #AAAAAA;
    top: 17px;
    right: 9px;
}
#changeCategory ul.options {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 45px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 50;
    max-height:400px;
    overflow: auto;
    background: #333;
    border-radius: 4px;
    border-top: 1px solid #FF6633;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    min-width: 200px;
    padding:6px 0;
    width:225px;
    transition: opacity 300ms ease-out,top 300ms ease-out,visibility 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out,top 300ms ease-out,visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out,top 300ms ease-out,visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out,top 300ms ease-out,visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out,top 300ms ease-out,visibility 300ms ease-out;
}
#changeCategory .trigger.open {
    background:#333;
    border:1px solid #000;
    color:#FFF;
    box-shadow:none;
}
#changeCategory .trigger.open:after {
    border-top-color: #FFFFFF;
}
#changeCategory ul.options.open {
    visibility: visible;
    top: 50px;
    opacity: 1;
}
#changeCategory ul.options.overflowing {
    top: auto;
    bottom: 40px;
    transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}
#changeCategory ul.options.overflowing.open {
    top: auto;
    bottom: 50px;
}
#changeCategory ul.options li {
    padding: 6px 12px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
}

#changeCategory ul.options li a {
    color:#BFBFBF;
    text-decoration:none;
    font-size:12px;
    display:block;
}
#changeCategory ul.options li a:hover {
    color:#FFF;
}

/*
* Filterable
*/
#whmcms-portfolio-filters {
    margin:10px 0px 20px 0px;
}
#whmcms-portfolio-filters a {
    float: left;
    display: block;
    background: #F0F1F1;
    color:#666;
    padding: 3px 10px;
    margin-right:10px;
    margin-bottom:10px;
    text-decoration:none;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -ms-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -khtml-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -ms-box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;
    -o-box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;
    -khtml-box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;
    box-shadow: 1px 1px 1px rgba(0,0,0,.1) inset;
}
#whmcms-portfolio-filters a.active {
    background: #E34F26;
    color: #FFF;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/*
* OnePage Layout
*/
.categoryTitle {
    border-bottom:1px solid rgba(0,0,0, .15);
    padding-bottom:10px;
    margin-bottom:10px;
    display:block;
}

/*
* Project Photo
*/
.whmcms-portfolio .thumbnail img {
    width:100% !important;
}

#whmcms .carousel-control {
  top: 0;
}
#whmcms #project-slider img {
  width: 100%;
}
.carousel-control.left .fa,
.carousel-control.right .fa {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.clearline {
  clear: both;
  display: block;
  margin-bottom: 10px;
}

/*
Social Buttons
*/
.whmcms-social-button {
	display: inline-block;
	vertical-align: middle;
}
.whmcms-social-button.whmcms-social-button-facebook {
	margin-top: -5px;
}
.whmcms-social-button.whmcms-social-button-twitter {}
.whmcms-social-button.whmcms-social-button-googleplus {}
