* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a,
img,
button,
input,
label,
select,
span,
i {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

body {
  padding-top: 6rem;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--color-secondary, #fff);
  background-color: rgb(var(--color-tertiary));
}

/* ------------------------------- */
/* ------------------------------- */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.custom-btn {
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--color-primary, rgb(229, 9, 20));
  color: var(--color-secondary, #fff);
  font-size: 1.8rem;
  cursor: pointer;
  padding: 1.2rem 2rem;
  transition: 0.25s;
}
.custom-btn:is(:hover, :focus, :focus-within) {
  background-color: var(--color-secondary, #fff);
  color: var(--color-primary, rgb(229, 9, 20));
}

.custom-link {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.layout {
  padding-top: 8rem;
  padding-bottom: 5rem;
  min-height: 60vh;
  max-width: 140rem;

  padding-inline: 3rem;
  margin-inline: auto;
  font-size: 2em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6rem;
}

.layout > :first-child {
  flex: 1;

  flex-basis: 65%;
}
.layout > :last-child {
  flex: 1;
  flex-basis: 30%;
}

.recent-articles {
  list-style: none;
  display: grid;
  grid-gap: 1rem;
}
.recent-articles a {
  font-size: 1.8rem;
}

.recent-articles a:is(:hover, :focus, :active) {
  text-decoration: underline;
}

/* ------------------------------- */
/* ------------------------------- */

nav {
  padding: 1vh 2.5vw;
  width: 100%;
  background-color: var(--color-primary);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  display: flex;
  z-index: 100;
}

/*Styling logo*/
.logo {
  text-align: center;
}
.logo a {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo a {
  font-size: 2rem;
}

.logo img {
  width: 4rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;

  text-transform: uppercase;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  font-size: 1.4rem;
  border-bottom: 2px solid transparent;
}
.nav-links li a:hover {
  border-bottom: 2px solid var(--color-secondary);
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: var(--color-secondary);
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    z-index: 100;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 2.5vw;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    inset: 0;
    background: rgba(var(--color-tertiary), 0.9);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 120% 0%);
    -webkit-clip-path: circle(50px at 120% 0%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% 10%);
    -webkit-clip-path: circle(1000px at 90% 10%);
    pointer-events: all;
  }
  .nav-links li a {
    font-size: 1.8rem;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
@media only screen and (max-width: 500px) {
  .nav-links li a {
    font-size: 2.4rem;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* ------------------------------- */
/* ------------------------------- */

/* ------------------------------- */
/* ARTICLES */
/* ------------------------------- */

.image-full {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2em;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
}
p {
  font-size: 1.8rem;
}

.subtitle {
  font-weight: 700;
  color: var(--color-primary);
  font-size: 0.75rem;
  margin: 0;
}

.article-title {
  font-size: 2.4rem;
  color: var(--color-tertiary-2);
}

.article-read-more {
  font-size: 1.4rem;
}

.article-read-more {
  width: max-content;
  color: var(--color-tertiary);
  text-decoration: none;
  font-weight: 700;

  text-transform: capitalize;

  padding-block: 5px;
  border-top: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.article-read-more:hover,
.article-read-more:focus {
  color: var(--color-tertiary-2);
}

/* main {
  width: 90%;
  max-width: 900px;
  margin: 0rem auto;
  padding-top: 4rem;
  padding-bottom: 6rem;
} */

.article-featured {
  border-bottom: var(--color-tertiary) 1px solid;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.article-featured img {
  margin-bottom: 1rem;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.article-recent-main {
  order: 2;
}

.article-recent-secondary {
  order: 1;
}

.article-body {
  overflow: hidden; /* hide any content that exceeds the max-height */
  display: -webkit-box; /* use webkit prefix for Safari/Chrome */
  -webkit-line-clamp: 5; /* set the number of lines to be displayed */
  -webkit-box-orient: vertical; /* set the orientation of the box */

  margin-bottom: 1rem;
}

@media (min-width: 675px) {
  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-title {
    order: 99;
  }

  .article-image {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
  }

  .article-featured {
    display: flex;
    flex-direction: column;
  }

  .article-image {
    order: -2;
  }

  .article-title {
    order: 0;
  }
}

/* ------------------------------- */
/* ------------------------------- */

/* ----------------------------- */

.footer {
  font-size: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  padding: 30px 30px 20px 30px;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.footer > * {
  flex: 1 100%;
}

.footer__logo {
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
  width: 8rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
}

.footer__nav > * {
  flex: 1 50%;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal__links {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
