/* Without overlay for modal background */
#active-popup-center_up {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

/* Modal container */
#active-popup-center_up .popup {
    display: inline-block !important;
}

#active-popup-center_up .modal-content {
    position: relative;
    text-align: center;
}

#active-popup-center_up .popup-window {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translate(-50%, 0);
    border: 1px solid rgb(221, 221, 221);
    background-color:white;
}

#active-popup-center_up .modal-content h1,
#active-popup-center_up .modal-content p { color: #fff; }

#active-popup-center_up .modal-content p { padding: 20% 5% 0 5%; }

/* Close button */
#active-popup-center_up .popup a.close {
    background: #e74c3c none repeat scroll 0 0;
    border: 4px solid #fff;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    line-height: 1em;
    padding: 0 5px 4px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -15px;
    z-index: 999999999;
    opacity: 1;
}

#active-popup-center_up .popup-window.ready .popup-image-message {
    max-width: 100%;
    max-height: 100%;
}

#active-popup-center_up .notshow-container {
    background: #fff none repeat scroll 0 0;
    bottom: -33px;
    font-size: 12px;
    left: 0;
    padding: 5px;
    width: 100%;
}

#active-popup-center_up .popup-message.message {
    background: #fff none repeat scroll 0 0;
    padding: 15px;
    overflow-y: auto;
}

