/*
* Common
*/
#whmcms {
    width:100%;
    /*max-width:940px;*/
    font-family:Tahoma !important;
    font-size:11px !important;
}
#whmcms .container {
    width:100%;
    /*max-width:940px;*/
}
#whmcms .clear {
    clear:both;
    width:100%;
    display:block;
}
#whmcms .btn.bulkapply {
    /*margin-top:-10px !important;*/
}
#whmcms .btn {
    font-family:Tahoma;
    font-size:11px;
}
#whmcms .btn i {
    font-size:14px;
}
#whmcms .input-group-btn .btn {
	font-size: 14px;
}
#whmcms .row-fluid:after {
    display:none;
}

/*
#whmcms .modal-footer {
    max-height:50px;
}
*/
#whmcms .tooltip-inner {
    min-width: 150px;
}
#whmcms .table input {
    margin-bottom:0px;
}


.text-right {
    text-align:right !important
}
.text-center {
    text-align:center !important
}
.text-left {
    text-align:left !important
}
.rtl {
    direction:rtl !important
}
.ltr {
    direction:ltr !important
}
.color-red {
    color:#DC143C
}
.color-blue {
    color:#0099FF
}
.color-green {
    color:#32CD32
}
.color-grey {
    color:#666666
}
#whmcms .nav-tabs {
    height:37px;
    font-weight:bold;
}

#whmcms .elementBox {
    clear:both;
    display:block;
}
#whmcms label {
    font-family:Tahoma;
    font-size:11px;
    font-weight:bold;
    display: block;
    margin: 7px 0;
}
#whmcms label.oneline {
    display:inline-block;
    margin-bottom:10px;
    width:100px;
}
#whmcms label.checkbox {
    display:inline-block;
    margin-bottom:0px;
    width:100px;
    padding-left:0px;
}
#whmcms input[type="checkbox"] {
    float:none;
    margin-left:0px;
    display:inline-block;
    top:5px;
    position: relative;
}
#whmcms .categoryLabel {
    margin-left: 0px;
    padding: 0 0px 5px 5px;
    border-radius: 4px;
    background: #FFF;
    margin-right: 15px;
}
#whmcms .categoryLabel input {
    top:3px;
    margin-right:4px;
}


/*#whmcms .modal-footer {
    height:30px;
}
#whmcms .modal.deleteModal {
    position:relative;
    top:auto;
    left:auto;
    right:auto;
    margin:0 auto 20px;
    z-index:1;
    max-width:100%;
}*/


.pleasewait {
    font-family: Tahoma;
    font-size: 12px;
    color: #000;
    font-weight:bold;
    text-align:center;
}
.pleasewait div {line-height:30px;}

/*
* Dashboard
*/
#whmcms .indexIcons ul {
    padding:0px;
    margin:0px;
    list-style:none;
    margin-top:20px;
    width:800px;
}
#whmcms .indexIcons ul li {
    text-align:center;
    width:100px;
    margin:0 20px 20px 0;
    display:-moz-inline-stack;
    display:inline-block;
    vertical-align:top;
    zoom:1;
}
#whmcms .indexIcons ul li a {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:inset 0 0 15px #F4F4F4;
    -moz-box-shadow:inset 0 0 15px #F4F4F4;
    box-shadow:inset 0 0 15px #F4F4F4;
    display:block;
    padding:20px 10px 15px 10px;
    border:1px solid #F1F1F1;
    text-decoration:none;
    text-align:center;
}
#whmcms .indexIcons ul li a span {
    font:11px Tahoma,sans-serif;
    font-weight:bold;
    color:#777;
    display:block;
    margin-top:15px;
    padding-top:5px;
    border-top:1px solid rgba(0,0,0, .1);
}
#whmcms .indexIcons ul li a:hover{
    border:1px solid #aaa;
    transition:all .6s ease;
    box-shadow:0px 0px 5px 1px rgba(0,0,0, .1);
}
#whmcms .indexIcons ul li a:hover span {
    transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
    color:#EF652A;
}
#whmcms .indexIcons ul li a i {
    font-size:28px;
    color:#666;
    width:auto;
    font-weight:normal;
    transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
}
#whmcms .indexIcons ul li a:hover i {
    color:#EF652A;
}

/*
* Tables
*/
#whmcms .table th, #whmcms .table td {
    text-align:center;
}
#whmcms .table th.cb {
    width:5%;
}
#whmcms .table tr.table-footer > td {
    background:#FFF;
}
#whmcms #bulkcheckbox,
#whmcms .bulkcheckbox {
    position: static !important;
    top:0px !important;
}


/*
* NavBar
*/
#whmcms .navbar-inner {max-height:40px;}

/*
* Modal
*/
/*
.modal a.close-modal {
    display:none;
}
.modal {
    padding:0px;
    width:550px;
}
*/
/*
.modal-header h3,
#whmcms .modal-header h3,
.modal-header h4,
#whmcms .modal-header h4 {
    line-height:20px;
}
#whmcms .modal-form form {
    margin-bottom:0px;
}
#whmcms .formPage .modal-header {
    padding:0px;
}
*/

/*
* SideMenu
*/
.whmcms_sidemenu i {
    font-size:14px;
    color:#999;
}

/*
* Translations
*/
#whmcms .accordion-group {
    box-shadow:0px 1px 1px 0px rgba(0,0,0, .5);
}


#whmcms .accordion-heading {
    background:#FAFAFA;
}
#whmcms .accordion-heading:hover {
    background:#FEFEFE;
}
#whmcms .accordion-inner {
    background:#FEFEFE;
}


.elementBox:active {
    background:#FFFFFB;
}

/*
* Updates
*/
.versioncont {
    margin:0 auto;
    padding:0 0 25px 0;
    width:480px;
}
.versionyour {
    float:left;
    margin:0;
    padding:10px 20px;
    width:200px;
    background-color:#535353;
    background-color:#777;
    border-bottom:1px solid #fff;
    color: #fff;
    font-size:20px;
    text-align:right;
    -moz-border-radius: 10px 0 0 0;
    -webkit-border-radius: 10px 0 0 0;
    -o-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;
}
.versionyournum {
    float:left;
    margin:0;
    padding:5px 20px;
    width:200px;
    background-color:#666;
    background-color:#999;
    color: #fff;
    font-family:Arial;
    font-size:30px;
    text-align:right;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    -o-border-radius: 0 0 0 10px;
    border-radius: 0 0 0 10px;
}
.versionlatest {
    float:left;
    margin:0;
    padding:10px 20px;
    width:200px;
    background-color:#035485;
    background-color:#DB4E11;
    border-bottom:1px solid #fff;
    color: #fff;
    font-size:20px;
    text-align:left;
    -moz-border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    -o-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
}
.versionlatestnum {
    float:left;
    margin:0;
    padding:5px 20px;
    width:200px;
    background-color:#0467A2;
    background-color:#EF652A;
    color: #fff;
    font-family:Arial;
    font-size:30px;
    text-align:left;
    -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
    -o-border-radius: 0 0 10px 0;
    border-radius: 0 0 10px 0;
}
.versionnoticecont {
    width:700px;
    margin:30px auto 10px;
}
.newspost {
    margin:10px auto;
    padding:6px 15px;
    width:80%;
    background-color:#FAFAFA;
    border:1px solid #CCC;
    border:1px solid rgba(0,0,0, .2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius:5px;
    box-shadow:1px 3px 1px rgba(0,0,0, .1);
}

/*
* Menu Options
*/
#whmcms .menuTypeHide {
    display:none !important;
}
#whmcms .menuTypeShow {
    display:block !important;
}
.type_box {
    margin-top:15px;
}

/*
* Customizations
*/
#css_editor {
    margin: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height:600px;
    max-width:800px;
    font-size:14px;
    border:1px solid rgba(0,0,0, .1);
    border-radius:2px;
}

#js_editor {
    margin: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height:600px;
    max-width:800px;
    font-size:14px;
    border:1px solid rgba(0,0,0, .1);
    border-radius:2px;
}
#html_editor,
.html_editor {
    margin: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height:400px;
    max-width:800px;
    font-size:14px;
    border:1px solid rgba(0,0,0, .1);
    border-radius:2px;
}
.custom-text {
    font-size:12px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, sans-serif;
}

/*
* Support Icons
*/
#whmcms .support ul {
    padding:0px;
    margin:0px;
    list-style:none;
    margin-top:20px;
}
#whmcms .support ul li {
    text-align:center;
    margin:0 20px 20px 0;
    display:-moz-inline-stack;
    display:inline-block;
    vertical-align:top;
    zoom:1;
}
#whmcms .support ul li div {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:inset 0 0 15px #F4F4F4;
    -moz-box-shadow:inset 0 0 15px #F4F4F4;
    box-shadow:inset 0 0 15px #F4F4F4;
    display:block;
    padding:10px 10px 15px 10px;
    border:1px solid #F1F1F1;
    text-decoration:none;
    text-align:center;
}
#whmcms .support ul li div span {
    font:11px Tahoma,sans-serif;
    font-weight:normal;
    color:#777;
    display:block;
    margin:15px 0;
    padding-top:5px;
    border-top:0px solid rgba(0,0,0, .1);
}
#whmcms .support ul li div:hover{
    border:1px solid #aaa;
    transition:all .6s ease;
    box-shadow:0px 0px 5px 1px rgba(0,0,0, .1);
}
#whmcms .support ul li div:hover span {
    transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
    /*color:#EF652A;*/
}
#whmcms .support ul li div i {
    font-size:50px;
    color:#666;
    width:auto;
    margin:20px 0;
    font-weight:normal;
    transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
}
#whmcms .support ul li div:hover i {
    color:#EF652A;
}

/*
* Setting Section
*/
label.radioImg {
    text-align:center;
    width:100px;
    float:left;
    margin-right:25px !important;
}
label.radioImg img {
    border:1px solid #BBB;
    display:block;
    width:100px;
    height:100px;
}
label.radioImg:hover img {
    box-shadow:0px 0px 1px rgba(0,0,0, .5);
    border:1px solid #6699FF;
}
label.radioImg.active img {
    border:1px solid #EF652A;
}
label.radioImg span {
    display:block;
    text-align:center;
    margin:4px;
}
label.radioImg input {
    margin:0px auto;
}

/*
* Side Menu
*/
ul.whmcms_sidemenu {}
ul.whmcms_sidemenu li {
  padding:1px 0px;
  border-bottom: 1px dotted rgba(0,0,0,.3);
}
ul.whmcms_sidemenu li a {
  font-family:Tahoma;
  font-size:12px;
  text-decoration: none !important;
  color:#000;
  padding: 3px 0;
  display: block;
}
ul.whmcms_sidemenu li a i {
    margin-right:4px;
}
ul.whmcms_sidemenu li:hover a {
    color:#EF652A
}


/*
WHMCS v6
*/

#whmcms form .span1 {width: 7.91666666667%;}
#whmcms form .span2 {width: 15.8333333333%;}
#whmcms form .span3 {width: 23.75%;}
#whmcms form .span4 {width: 31.6666666667%;}
#whmcms form .span5 {width: 39.5833333333%;}
#whmcms form .span6 {width: 47.5%;}
#whmcms form .span7 {width: 55.4166666667%;}
#whmcms form .span8 {width: 63.3333333334%;}
#whmcms form .span9 {width: 71.25%;}
#whmcms form .span10 {width: 79.1666666667%;}
#whmcms form .span11 {width: 87.0833333334%;}
#whmcms form .span12 {width: 95%;}

#whmcms .panel a {
  display: block;
}
#whmcms .clearline {
  display: block;
  clear: both;
  margin: 5px 0;
}


/*
WHMCMS v2.6.0
*/
.bg-white {
	background: #ffffff;
}
#contentarea.contentarea h1 {
	display: none;
}
.table.table-middle tr td {
	vertical-align: middle;
}

.seo-url {
	position: relative;
}
.seo-url-actions {
    position: absolute;
    z-index: 10;
    top: 6px;
    right: 10px;
}
.seo-url-actions-loading {
	font-size: 16px;
}
.seo-url-actions-lock {
	font-size: 16px;
	cursor: pointer;
}
.seo-url-prefix {
	padding-right: 0;
}
.seo-url-input {
    border-left: none;
    padding-left: 0;
}
#whmcms .breadcrumb {
    padding-top: 7px;
    padding-bottom: 7px;
}
/* Fix ValidationEngine Styling */
.formErrorContent,
.formErrorContent *,
.formErrorContent *:before,
.formErrorContent *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.formErrorArrow,
.formErrorArrow *,
.formErrorArrow *:before,
.formErrorArrow *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
/* Ajax Running */
body.whmcms-ajax-loading {
	cursor: wait;
}

.panel-heading a {
	text-decoration: none;
}

.table-vertical-middle tbody tr td {
	vertical-align: middle;
}
.well .elementBox:active,
.elementBox:active {
	background: transparent;
}

#whmcms-support-page .fa.fa-4x {
	color: #666;
	margin: 10px 0;
}

.type_box label {
	color: #333;
}

/*
Draggable Menu
*/
ol.menu-items-list,
ol.menu-items-list * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
ol.menu-items-list,
ol.menu-items-list li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 35px;
  cursor: default;
}
ol.menu-items-list li,
ol.menu-items-list li ul li {
  margin-bottom: 5px;
}
ol.menu-items-list div.menu-item {
  border: 1px solid #ddd;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  height: 40px;
  margin-bottom: 5px;
  background: #ffffff;
}
ol.menu-items-list div.row {
  width: 700px;
  border: 0px solid #000;
}
ol.menu-items-list li ul {
  margin-left: 20px;
}
ol.menu-items-list .fa.always-on {
  color: #67FD6A;
}
ol.menu-items-list .fa.always-off {
  color: #F56764;
}
ol.menu-items-list .fa.condition-apply {
  color: #FFC87A;
}
ol.menu-items-list li .menu-item:hover {
  border: 1px solid rgba(180,180,180,.8);
  background-color: rgba(221,221,221,.15);
}

ol.menu-items-list li .drag-drop-item {
  height: 100%;
  width: max-content;
  visibility: hidden;
  cursor: move;
  display:inline-block;
  margin-right: 10px;
  
  height: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
ol.menu-items-list li:hover .drag-drop-item {
    visibility: visible;
}
ol.menu-items-list li .icon-bar {
  display: block;
  width: 15px;
  height: 1px;
  border-radius: 1px;
}
ol.menu-items-list li .icon-bar + .icon-bar {
  margin-top: 2px;
}
ol.menu-items-list li .icon-bar {
  background-color: #888;
}

/* Tooltip */
.ui-tooltip {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background: #000;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: none;
  border: 1px solid #000;
}


/* Resources Icons */
.resources-icons-list {}
.resources-icons-list .resources-icons-list-item {
	margin-bottom: 20px;
	text-align: center;
	color: #666;
}
.resources-icons-list .resources-icons-list-item:hover {
	color: #000;
}

.label-version {
	border-bottom: none !important;
	padding-top: 5px !important;
}
.label-version a {
	font-size: 8pt !important;
	color: #ffffff !important;
}


/* Dashboard Panels */
#whmcms .integration-panel {
	
}
#whmcms .integration-panel .panel-title {
	font-size: 12px;
	font-weight: 700;
}
#whmcms .integration-panel .panel .panel-body a {
    display: inline-block;
    text-decoration: underline;
}
#whmcms .integration-panel .panel .panel-body h6 {
	font-weight: 700;
}
#whmcms .integration-panel-danger {}
#whmcms .integration-panel-warning {}
#whmcms .integration-panel-info {}