/* Fullscreen overlay for modal background */
#active-popup {
    background-color: rgba(52,73,94, 0.7);
    position: fixed;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    z-index: 9999;
}

.popup-message img
{
    max-width: 100%;
    height: auto;
}

/* Modal container */
.popup {
    display: none;
}

.modal-content {
    position: relative;
    text-align: center;
}

.popup-window {
    margin: 5% auto;
    position: relative;
    width: 500px;
}

.modal-content h1,
.modal-content p { color: #fff; }

.modal-content p { padding: 20% 5% 0 5%; }

/* Close button */
.popup a.close {
    background: #e74c3c none repeat scroll 0 0;
    border: 4px solid #fff;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    line-height: 1em;
    padding: 0 5px 2px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -15px;
    z-index: 999999999;
    opacity: 1;
}

.popup-window.ready .popup-image-message {
    max-width: 100%;
    max-height: 100%;
}

.notshow-container {
    background: #fff none repeat scroll 0 0;
    bottom: -33px;
    font-size: 12px;
    left: 0;
    padding: 5px;
    position: absolute;
    width: 100%;
}

.popup-message.message {
    background: #fff none repeat scroll 0 0;
    padding: 15px;
    overflow-y: auto;
}
